!Urxvt 配置
URxvt.geometry: 81x32+256+64
URxvt.visualBell: False
urxvt*inheritPixmap: true
URxvt.tintColor: white
URxvt.shading: 80
urxvt*fading: 80
urxvt*title:Rquiss Rxvt-Unicode
urxvt*cursorBlink: true
URxvt.cursorUnderline:True
urxvt*scrollBar: false
urxvt*saveLines: 65535
!urxvt*borderLess: true   
urxvt*colorBD: white
urxvt*colorIT: green
URxvt*transparent: true
URxvt.background: rgba:0000/0000/0051/eeee
URxvt.foreground: gray84
URxvt.cursorColor: orange
URxvt.color0: #000000
URxvt.color1: #800000
URxvt.color2: #008000
URxvt.color3: #d0d090
URxvt.color4: #000080
URxvt.color4: Blue3
URxvt.color5: #800080
URxvt.color6: #d0d0d0
URxvt.color7: #b0b0b0
URxvt.color8: #f08060
URxvt.color9: #f08060
URxvt.color10: #60f080
URxvt.color11: #e0c060
URxvt.color12: #80c0e0
URxvt.color12: DodgerBlue
URxvt.color13: #f0c0f0
URxvt.color14: #c0d8f8
URxvt.color15: #e0e0e0
!URxvt.colorUL: #213a5e

URxvt.depth: 32
URxvt.preeditType: Root

! urxvt*font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso10646-1,-wenquanyi-*-medium-r-normal--13-*-*-*-p-*-iso10646-1
URxvt*font:xft:Monospace:size=11:style=Regular:antialias=true,xft:Yahei Mono:size=11:style=Regular:antialias=true
URxvt*boldFont:xft:Monospace:size=11:style=Regular:antialias=true,xft:Yahei Mono:size=11:style=Regular:antialias=true
!URxvt.font:xft:楷体:size=11:style=Regular:antialias=true
!URxvt.boldFont:xft:Monospace:size=11:style=Regular:antialias=true

URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollTtyKeypress:True
URxvt.scrollWithBuffer:True
URxvt.iconFile:/home/rquiss/git/KarConf/X/xterm.svg

URxvt.keysym.M-Up:      \033[1;3A
URxvt.keysym.M-Down:    \033[1;3B
URxvt.keysym.M-Right:   \033[1;3C
URxvt.keysym.M-Left:    \033[1;3D
URxvt.keysym.M-Prior:   \033[5;3~
URxvt.keysym.M-Next:    \033[6;3~
URxvt.keysym.M-End:     \033[1;3F
URxvt.keysym.M-Home:    \033[1;3H

URxvt.keysym.C-Up:      \033[1;5A
URxvt.keysym.C-Down:    \033[1;5B
URxvt.keysym.C-Right:   \033[1;5C
URxvt.keysym.C-Left:    \033[1;5D
URxvt.keysym.C-Prior:   \033[5;5~
URxvt.keysym.C-Next:    \033[6;5~
URxvt.keysym.C-End:     \033[1;5F
URxvt.keysym.C-Home:    \033[1;5H
