!Urxvt Configuration

!Font
!URxvt*font:xft:xft:karterm:size=19:style=Regular:antialias=true
URxvt*font:xft:Terminess Powerline:size=25:style=Regular:antialias=true
!URxvt*font:xft:xft:Yahei Mono:size=19:style=Regular:antialias=true
!URxvt*font:xft:Monospace:size=19:style=Regular:antialias=true
!URxvt*blodFont:xft:Source Code Pro for Powerline:size=19:style=Regular:antialias=true
!URxvt*boldFont:xft:Monospace:size=19:style=Regular:antialias=true,xft:Yahei Mono:size=19:style=Regular:antialias=true

!COLOR
!URxvt.color4: DodgerBlue
URxvt.color9: #f08060
URxvt.color10: #60f080
URxvt.color11: #e0c060
URxvt.color12: DodgerBlue
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0088/dddd
!urxvt*colorBD: white
!urxvt*colorIT: green
URxvt.foreground: gray84
URxvt.cursorColor: orange

!Perl
!URxvt.perl-lib: /home/rquiss/git/urxvt-perls
!URxvt.perl-ext-common: clipboard
!URxvt.keysym.M-c:   perl:clipboard:copy
!URxvt.keysym.M-v:   perl:clipboard:paste
!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

!Shape
!URxvt.letterSpace: -1
URxvt.title:SHANG
URxvt*geometry: 110x33+256+64
!urxvt*cursorBlink: true
URxvt.cursorUnderline:True
urxvt*scrollBar: false
urxvt*saveLines: 65535
!urxvt*borderLess: true
URxvt.preeditType: Root
URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollTtyKeypress:True
URxvt.scrollWithBuffer:True

!ICON
URxvt*iconFile:/home/rquiss/git/KarConf/X/xterm.svg

